@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.fields:focus-within svg {
  fill: black;
}

.fields svg {
  fill: #6E6E6E;
  width: 20px;
}

.lines::before {
  content: ' ';
  width: 40%;
  height: 2px;
  background: linear-gradient(90deg, #01705F 0%, #02D6B6);
  position: absolute;
  left: 0;
  top: 12px;
}

.lines::after {
  content: ' ';
  width: 40%;
  height: 2px;
  background: linear-gradient(90deg, #01705F 0%, #02D6B6);
  position: absolute;
  right: 0;
  top: 12px;
}

.welcome-sec {
  background-image: url('/images/bg.svg');
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}